.Counter {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.Controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #0056b3;
}

.Number {
    font-size: 24px;
    margin: 0 15px;
    font-weight: bold;
    padding: 1rem;
    color: black;
}

.ButtonContainer {
    display: flex;
    flex-direction: column; 
    margin-top: 10px;
  }
  
  .cancel-button {
    margin-top: 5px; 
  }