
.Cards {
    width: 220px;
    min-height: 400px;
    border: 2px solid coral; 
    background-color: #ffffff;
    text-align: center;
    align-items: center; 
    margin: 0 auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .imagen {
    width: 100%; 
    max-height: 265px; 
    padding: 2px;
  }
  
  .ver-detalle-link {
    background-color: coral;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .ver-detalle-link:hover {
    background-color: #FFA500;
  }

  .card-title{
    font-size: 24px;
  }
  